.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Title {
  color: black;
  font-family: 'Cabin Sketch', cursive;
  font-size:200%;
  margin-top: 3%;
  padding: 5%;
}
.items {
  color: black;
  font-size: 100%;
  font-family: 'Cabin Sketch', cursive;
}

.inputbox{
  background: none;
  border-top: none;
  border-left: none;
  border-right:none;
  margin-right: 5%;
  margin-bottom: 3%;
  color: black;
  outline-width: 0;
  font-size: 100%;
  font-family: 'Cabin Sketch', cursive;
}
.checkbox-default{
  margin: 0 auto;
  width: 30%;
  text-align: left
}
.thing {
  margin-left: 10%;
  margin-right: 5%;

}
.checklist {
  margin-left: 0%;
}
.close {
  background: black;
  margin-right: 0%;
}

.addButton {
  border-color: #eeeeee;
  background-color: transparent;
  color: black;
  border-style: solid;
}