.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Title {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size:70px;
  margin-top: 3%;
  padding: 5%;
}
.Items {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 30px;

}

.inputbox{
  background: none;
  border-top: none;
  border-left: none;
  border-right:none;
  margin-right: 5%;
  margin-bottom: 3%;
  color: white;
  outline-width: 0;
  font-size: 20px;
}
.checkbox-default{
  margin: 0 auto;
  width: 30%;
  text-align: left
}
.thing {
  margin-left: 10%;
  margin-right: 5%;
  font-size: 30px;
  color: white;
}
.checklist {
  margin-left: 0px;
}
.close {
  background: transparent;

}
.name-info {
  margin-top: 30%;
  color: white;
}